<a href="/" class="flex items-center">
  <img src="<%= absolute_url "/assets/images/logo_cartoon.png" %>" class="h-6 mr-3 sm:h-9" alt="Ziku.dev Logo" />
  <span class="self-center text-xl font-semibold whitespace-nowrap uppercase dark:text-white">Ziku.dev</span>
</a>
