<li class="pt-4">
  <div class="relative space-y-2 focus-within:ring-2 focus-within:ring-sky-400">
    <h3 class="font-semibold text-zinc-900 dark:text-zinc-50">
      <%= render Ui::Link.new(href: post.relative_url, classes: "focus:outline-none") do %>
        <span class="absolute inset-0" aria-hidden="true"></span>
        <%= title %>
      <% end %>
    </h3>
    <% if description %>
      <%= render Ui::Text.new(small: true, truncate: true) do %>
        <%= render Ui::Secondary.new.with_content(description) %>
      <% end %>
    <% end %>
  </div>
</li>
